
@{
    ViewBag.Title = "Bibliography";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bibliography</h2>

<ol>
    <li><a href="http://www.akadia.com/services/ssh_test_certificate.html">How to create a self-signed SSL Certificate ...</a></li>

</ol>

